body{
    margin:0;
    padding:0;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#container{
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: beige;
    font-size: 3em;
}

#info, #results{
    width: 100vw;
    text-align: center;
    padding: 1em;
}

#info{
    background-color: lightblue;
}

#results{
    background-color: lightgray;
}

#restart{
    background-color: black;
    color:white;
    font-size: 32px;
    border-radius: 32px;
    padding: 5px 25px;
    margin-top: 3em;
}

#name{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#name input{
    height: 50px;
    font-size: 38px;
    min-width: 300px;
    margin: 10px;
}

#name label{
    color: white;
    font-size: 1.9em;
    margin-top:20px;
}

#submitName{
    height: 60px !important;
    border-radius: 25px;
    padding: 5px;
}

#submitName:hover{
    opacity: 90%;
}

#error{
    display: none;
    color: red;
    font-size: 2.3em;
}
