@import url(https://fonts.googleapis.com/css?family=Ubuntu+Sans+Mono:regular,500,600,700,italic,500italic,600italic,700italic);
body{
    margin:0;
    padding:0;
}

#container{
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 201);
    font-size: 3em;
}

#info{
    width: 100vw;
    text-align: center;
    padding: 1em;
}

#info{
    background-color: rgb(178, 230, 173);
}

#results{
    background-color: rgb(245, 174, 174);
    padding: 20px;
    white-space: pre-wrap;
    text-align: center;
}

#restart{
    background-color: rgb(133, 133, 133);
    color:white;
    font-size: 32px;
    border-radius: 32px;
    padding: 5px 25px;
    margin-top: 3em;
}

#name{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(202, 202, 162);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Ubuntu Sans Mono', sans-serif; /*Google font*/
}

#name input{
    height: 50px;
    font-size: 38px;
    min-width: 300px;
    margin: 10px;
}

#name label{
    color: white;
    font-size: 1.9em;
    margin-top:20px;
}

#submitName{
    height: 60px !important;
    border-radius: 25px;
    padding: 5px;
}

#submitName:hover{
    opacity: 90%;
}

#error{
    display: none;
    color: rgb(117, 0, 0);
    font-size: 2.3em;
}
/*Code from https://www.w3schools.com/howto/howto_css_modals.asp*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    margin-left: auto;
    margin-right: auto;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #myBtn{
    display: block;
    margin: 0 auto;
    height: 50px;
    font-size: 38px;
    min-width: 300px;
    margin: 10px;
  }

  #resultsTable {
    width: 100%;
    border-collapse: collapse;
}

#resultsTable th, #resultsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#resultsTable th {
    background-color: lightgray;
}

#resultsTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#imageContainer {
    width: 300px;
    height: 200px;
    overflow: hidden; 
    order: 2px solid black; 
}

#resultImage {
    width: 100%;
    height: 100%; 
    object-fit: fill;
    display: block; 
}
